/* .sneakers-showcase */
.sneakers-showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column-reverse;
}

/* Utility */

.showcase-container {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 20px; */
}

/* sneaker-company */
.sneaker-company {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;

  background-color: var(--color-pale-orange);
}

/* Content  */
.sneaker-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  max-width: 800px;
}

.sneaker-content h3 {
  color: var(--color-dark-grayish-blue);
  text-transform: uppercase;
  font-size: clamp(0.75rem, 2vw, 0.8rem);
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.sneaker-content h2 {
  color: var(--color-very-dark-blue);
  font-size: clamp(1.3rem, 2vw, 1.4rem);
}

.sneaker-content p {
  color: var(--color-grayish-blue);
  font-size: clamp(0.9rem, 2vw, 1rem);
}

/* Price */

.price-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: column; */
}

.price {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.init-price {
  font-size: clamp(1.2rem, 1.6rem, 1.6rem);
}

.discount {
  background-color: var(--color-very-dark-blue);
  color: var(--color-light-grayish-blue);
  width: 2.4rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  padding: clamp(0.25rem, 1vw, 0.6rem);
  font-size: clamp(0.8rem, 2vw, 0.4rem);

  font-weight: bold;

  outline: 1px solid red;
}

.old-price {
  text-decoration: line-through;
  color: var(--color-grayish-blue);
  font-size: clamp(0.8rem, 2vw, 0.7rem);
  font-weight: bold;
}

/* Add to chart  section */
.add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  /* padding: 1rem; */
  width: 100%;
}

.add-to-cart h3 {
  color: var(--color-very-dark-blue);
}

.quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  background-color: var(--color-light-grayish-blue);
  border-radius: 0.5rem;
  width: 100%;
  /* max-width: 20rem; */
  /* margin: 0 auto; */
  box-shadow: 4px 0 15px rgba(0, 0, 0, 0.1);
}

.number {
  font-weight: bold;
}
.cart {
  width: 100%;
}

.minus,
.plus {
  cursor: pointer;
}

.add-to-cart-btn {
  background-color: var(--color-orange);
  color: var(--color-very-dark-blue);
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: none;
  width: 100%;
  /* max-width: 20rem; */
  text-align: center;
  /* font-weight: bold; */

  box-shadow: 4px 0 15px rgba(0, 0, 0, 0.1);
  font-size: clamp(0.8rem, 1.2rem, 1.4rem);
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* Carousel section */

.carousel {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Visible */
.hidden {
  display: none;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
  width: 1.4rem;
  height: 1.4rem;
  background-color: var(--color-white);
  border-radius: 50%;
  object-fit: contain;
}

.arrow-left img {
  left: 0.5rem;
}
.arrow-right img {
  right: 0.5rem;
  /* width: 0.4rem; */
  /* height: 0.4rem; */
  background-color: var(--color-white);
  /* padding: rem; */
  /* transform: rotate(180deg); */
}

.thumbnails {
  display: none;
}

/* thumbnails */

@media screen and (min-width: 768px) {
  .sneakers-showcase {
    flex-direction: row-reverse;
    align-items: center;
    max-width: 65rem;
    margin: 0 auto;
    padding: 1rem;
    gap: 2rem;
  }

  /* Sneaker Content */

  .sneaker-content {
    /* margin-top: 2.2rem; */
  }

  .price-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .sneaker-company {
    margin-top: 0;
    padding: 2rem;
    /* gap: 2rem; */
    width: 100%;
    /* max-width: 30rem; */
    height: 100%;
    background-color: var(--color-pale-orange);
  }

  .sneaker-company h3 {
    color: var(--color-very-dark-blue);
  }
  .sneaker-content p {
    /* width: 100%; */
    /* max-width: 800px; */
    /* margin-top: 1rem; */
    font-size: clamp(0.75rem, 2vw, 0.9rem);
  }

  /* Add to chart */
  .price-content {
    margin-top: 1rem;
  }

  .price-content h4 {
    letter-spacing: 0.1rem;
  }

  .add-to-cart {
    flex-direction: row;
  }

  .quantity {
    width: 50%;
  }

  /* Carousel section */
  .carousel-img {
    /* width: 100%; */
    max-width: 700px;
    height: auto;
    max-height: 350px; /* adjust this value as needed */
    object-fit: contain;
    border-radius: 10px;
  }

  .arrow-hidden {
    display: none;
  }

  .thumbnails {
    display: flex;
    gap: 1rem;

    flex-wrap: wrap;
    justify-content: center;
  }

  .thumbnail-wrapper {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    /* overflow: hidden; */
    outline: 1px solid transparent;
    transition: outline 0.2s ease-in-out;
    margin-top: 2rem;
  }

  .thumbnail-wrapper.active {
    outline: 2px solid var(--color-orange);
  }

  .thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    opacity: 0.6;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  }

  .thumbnails {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .thumbnail-wrapper {
    width: 4.3rem;
    height: 4.3rem;
    border-radius: 0.5rem;
    cursor: pointer;
    overflow: hidden;
    outline: 1px solid transparent;
    transition: outline 0.2s ease-in-out;
  }

  .thumbnail-wrapper.active {
    outline: 2px solid var(--color-orange);
    opacity: 0.6;
  }

  .thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    opacity: 1;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  }

  .thumbnail:hover {
    transform: scale(1.05);
    opacity: 0.6;
  }
}
